{% extends "base.html" %}

{% block link %}
    {% if request.user == album.author %}
        <li class="nav-item">
            <a href="{% url "webapp:album_update" album.pk %}" class="nav-link">Редактирование</a>
        </li>
        <li class="nav-item">
            <a href="{% url "webapp:album_delete" album.pk %}" class="nav-link">Удаление</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "partial/album_view_partial.html" %}
    <div class="row">
        {% for photo in photos.album_id %}
            {% include "partial/photo_view_partial.html" %}
            {% empty %}
            <h2>Нет картинок</h2>
        {% endfor %}
    </div>

{% endblock %}
